<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input v-model="username" type="text" id="fullName" name="Name" placeholder="Name" /><br />
    <input v-model="phone" type="number" id="phone" name="phone" placeholder="phone" /><br />
    <button @click="addContact()">Add Contact</button>
    <hr />
    <ul>
      <li v-for="person in contacts">{{person.name}} : {{person.phone}}</li>
    </ul>
  </div>
</body>
<script src="./vue.global.js"></script>
<script>
  const { createApp, ref } = Vue;

  createApp({
    setup() {
      const username = ref("");
      const phone = ref(null);

      const contacts = ref([
        {
          name: "Meysam",
          phone: 62157483
        },
        {
          name: "Nasrin",
          phone: 4532819,
        }
      ]);
      const addContact = () => {


      };

      return {
        contacts,
        username,
        phone,
        addContact,
      };
    }
  }).mount("#app");
</script>

</html>